<nav class="navbar navbar-light bg-light">
  <%= link_to "All Restaurants", restaurants_path, class:"navbar-brand ms-3" %>
  <%= link_to "New Restaurant", new_restaurant_path, class:"navbar-brand me-3" %>
</nav>
